<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <app-logo></app-logo>
      <h2>Welcome to Buxar</h2>
      <p>Buxar is a nagar parishad city in the state of Bihar, India bordering Uttar Pradesh.</p>
    </ion-slide>
    <ion-slide>
      <h2>Welcome to buxar.nic.in</h2>
    </ion-slide>
    <ion-slide>
      <h2>Buxar, Bihar</h2>

    </ion-slide>
  </ion-slides>
  <ion-button expand="full" (click)="gotoLoginpage()">Go To Login Page</ion-button>

  <ion-button expand="full" (click)="gotopage()">Go To Page</ion-button>
</ion-content>
